# Delays for departure airports

In [ ]:
%load_ext sql
from flights import settings
%sql $settings.DB_URL

In [ ]:
%%sql
select departure_airport,
       avg(actual_departure - scheduled_departure) as avg_delay
from flight
group by departure_airport;

## Using Pandas

In [3]:
import pandas as pd
import numpy as np
from flights import models
from flights.database import db_session

In [4]:
SPARSITY = 100
statement = models.all_flights().filter(models.Flight.id % SPARSITY == 0).statement
flights = pd.read_sql(statement, db_session.bind)

In [5]:
flights['delay'] = (flights['actual_departure'] - flights['scheduled_departure']) \
                    .apply(lambda delay: delay.total_seconds())

In [6]:
stats = flights.groupby('departure_airport')['delay'] \
               .aggregate([np.average, np.mean, np.median])

In [7]:
stats

                        average          mean   median
departure_airport
AAL                  603.529412    603.529412    120.0
AAQ                  110.000000    110.000000     90.0
AAR                   86.400000     86.400000      0.0
AAT                 -534.782609   -534.782609   -960.0
ABA                  300.000000    300.000000    240.0
ABE                 3990.000000   3990.000000    240.0
ABI                 3643.448276   3643.448276   4320.0
ABJ                12661.500000  12661.500000   6270.0
ABQ                 3029.021739   3029.021739    -60.0
ABR                 4388.571429   4388.571429   5820.0
ABT                  -36.000000    -36.000000     60.0
ABV                10230.000000  10230.000000   8070.0
ABX                  483.673469    483.673469      0.0
ABY                 2760.000000   2760.000000   -240.0
ABZ                  568.163265    568.163265    300.0
ACA                  950.117647    950.117647    180.0
ACC                 7625.647059   7625.647059   1200.0
ACE                  735.967742    735.967742    180.0
ACK                 1181.273885   1181.273885    240.0
ACT                 1865.625000   1865.625000   1710.0
ACV                  380.689655    380.689655   -240.0
ACX                 6557.142857   6557.142857   5520.0
ACY                 7010.400000   7010.400000   7500.0
ADA                   18.529412     18.529412   -210.0
ADB                  197.349398    197.349398    -60.0
ADD                  688.998035    688.998035    300.0
ADF                  170.000000    170.000000     30.0
ADK                -1680.000000  -1680.000000  -1680.0
ADL                  296.264591    296.264591      0.0
ADQ                  106.666667    106.666667   -240.0
...                         ...           ...      ...
YZV                 1235.000000   1235.000000   -300.0
YZY                 5360.000000   5360.000000   -180.0
ZAD                 3572.727273   3572.727273   3360.0
ZAG                  380.498753    380.498753    180.0
ZAL                 4620.000000   4620.000000   2730.0
ZAM               -10096.000000 -10096.000000   -420.0
ZAQ                 3300.000000   3300.000000   3900.0
ZAT                 7002.000000   7002.000000   6510.0
ZAZ                  636.000000    636.000000    300.0
ZBF                 -412.500000   -412.500000   -420.0
ZBL                  130.000000    130.000000   -180.0
ZCL                 1751.111111   1751.111111    600.0
ZCO                  108.750000    108.750000    -30.0
ZHA                 1526.756757   1526.756757     30.0
ZIH                 1975.384615   1975.384615    900.0
ZLO                 1766.666667   1766.666667   1080.0
ZNE                  658.536585    658.536585   -240.0
ZNZ                 7440.000000   7440.000000    300.0
ZPF                    0.000000      0.000000      0.0
ZPM                    0.000000      0.000000      0.0
ZPR                 5077.777778   5077.777778   5700.0
ZQN                  870.333333    870.333333    120.0
ZQZ                 6210.000000   6210.000000   5550.0
ZRH                  699.791057    699.791057    360.0
ZSA                12150.000000  12150.000000  12150.0
ZTH                  495.000000    495.000000    270.0
ZUH                 5990.000000   5990.000000   4110.0
ZWS                    6.666667      6.666667      0.0
ZYI                 6582.580645   6582.580645   2940.0
ZYR                  -21.600000    -21.600000      0.0

[2003 rows x 3 columns]