# Delays for departure airports

In [ ]:
%load_ext sql
from flights import settings
%sql $settings.DB_URL

In [ ]:
%%sql
select departure_airport,
       avg(actual_departure - scheduled_departure) as avg_delay
from flight
group by departure_airport;

## Using Pandas

In [3]:
import pandas as pd
import numpy as np
from flights import models
from flights.database import db_session

In [4]:
SPARSITY = 100
statement = models.all_flights().filter(models.Flight.id % SPARSITY == 0).statement
flights = pd.read_sql(statement, db_session.bind)

In [5]:
flights['delay'] = (flights['actual_departure'] - flights['scheduled_departure']) \
                    .apply(lambda delay: delay.total_seconds())

In [8]:
stats = flights.groupby('departure_airport')['delay'] \
               .aggregate([np.mean, min, max])

In [9]:
stats

                           mean      min      max
departure_airport
AAL                  603.529412   -840.0   9120.0
AAQ                  110.000000    -60.0    300.0
AAR                   86.400000   -360.0   1800.0
AAT                 -534.782609  -1500.0   1980.0
ABA                  300.000000   -420.0   1080.0
ABE                 3990.000000  -1080.0  23520.0
ABI                 3643.448276   -660.0  20220.0
ABJ                12661.500000   -840.0  40080.0
ABQ                 3029.021739   -780.0  30300.0
ABR                 4388.571429   -300.0   6900.0
ABT                  -36.000000   -900.0    660.0
ABV                10230.000000  -1020.0  24240.0
ABX                  483.673469   -840.0  12300.0
ABY                 2760.000000   -720.0  13200.0
ABZ                  568.163265   -960.0  14700.0
ACA                  950.117647   -960.0   8400.0
ACC                 7625.647059  -2700.0  60000.0
ACE                  735.967742  -1320.0  18120.0
ACK                 1181.273885  -1200.0  15000.0
ACT                 1865.625000   -720.0   7320.0
ACV                  380.689655   -900.0   7380.0
ACX                 6557.142857   -420.0  17700.0
ACY                 7010.400000   -600.0  27780.0
ADA                   18.529412  -4620.0   4560.0
ADB                  197.349398   -840.0  11820.0
ADD                  688.998035 -84540.0  74340.0
ADF                  170.000000   -300.0    780.0
ADK                -1680.000000  -1680.0  -1680.0
ADL                  296.264591 -12600.0  10680.0
ADQ                  106.666667  -1380.0   5820.0
...                         ...      ...      ...
YZV                 1235.000000  -1980.0   8940.0
YZY                 5360.000000   -240.0  16500.0
ZAD                 3572.727273      0.0   9540.0
ZAG                  380.498753  -1200.0   5580.0
ZAL                 4620.000000   -720.0  12240.0
ZAM               -10096.000000 -84600.0  11340.0
ZAQ                 3300.000000      0.0   8100.0
ZAT                 7002.000000   -660.0  14820.0
ZAZ                  636.000000   -780.0   3180.0
ZBF                 -412.500000   -720.0   -180.0
ZBL                  130.000000   -300.0   1200.0
ZCL                 1751.111111  -1020.0  10800.0
ZCO                  108.750000   -840.0   1440.0
ZHA                 1526.756757   -960.0  19920.0
ZIH                 1975.384615  -4740.0  13260.0
ZLO                 1766.666667   -660.0   4380.0
ZNE                  658.536585  -1020.0  17160.0
ZNZ                 7440.000000  -1980.0  31140.0
ZPF                    0.000000      0.0      0.0
ZPM                    0.000000      0.0      0.0
ZPR                 5077.777778   3900.0   6300.0
ZQN                  870.333333   -960.0  63360.0
ZQZ                 6210.000000   -900.0  14640.0
ZRH                  699.791057   -900.0  61260.0
ZSA                12150.000000   7860.0  16440.0
ZTH                  495.000000   -720.0   3060.0
ZUH                 5990.000000   -840.0  32220.0
ZWS                    6.666667      0.0    120.0
ZYI                 6582.580645   -840.0  29340.0
ZYR                  -21.600000    -60.0      0.0

[2003 rows x 3 columns]

In [10]:
from flights import redis

In [11]:
for stat in stats.iterrows():
  redis.set('departure_%s' % stat[0], {
            'mean': stat[1]['mean'],
            'max': stat[1]['max'],
            'min': stat[1]['min'],
            })

![I have no idea what I'm doing](http://cathyreisenwitz.com/wp-content/uploads/2016/01/no.jpg)